{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<br><br>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
          <div class="card-header text-right">
              <div class="row justify-content-between">
                  <div class="col-9 mt-1 text-left align-self-center">
                     <h4>{% trans "Verify Your E-mail Address" %}</h4>
                  </div>
              <div class="col-3 align-self-center">
                  <a href="/" class="btn-sm ml-1 text-white btn-secondary" style="background-color: #111111;" data-toggle="tooltip" data-placement="bottom" title="Voltar para {{ service.service_category.category_service }}">
                      <i class="fa fa-undo" aria-hidden="true"></i>
                  </a>
              </div>
              </div>
          </div>
        <div class="card-body text-dark">


            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}