{% extends 'base.html' %}
{% load static %}

{% block head_title %}Editar {{ service_equipment.equipment_tittle.equipment_tittle }} no serviço {{ service_equipment.equipment_service.service_tittle }}.{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<br><br>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body text-dark">
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="row m-2 justify-content-center">
              <p>Editar </p> <p>"{{ service_equipment.equipment_tittle.equipment_tittle }}" no serviço {{ service_equipment.equipment_service.service_tittle }}?</p>
            </div>
            {% include 'includes/form.html' %}
            <div class="row mr-1 justify-content-end">
              <a href="{% url 'service:equipment_service_list' object.equipment_service.pk %}" class="btn btn-secondary mx-2" >Cancelar</a>
              <button type="submit" class="btn btn-dark">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<br>
{% endblock %}