{% extends 'base.html' %}
{% load static %}

{% block head_title %}Adicionando equipamento ao serviço {{ service.first.service_tittle }}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<br><br>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-10">
    <div class="card">
        <div class="card-header">
            <h5>Adicionando equipamento ao serviço {{ service.first.service_tittle }}</h5>
        </div>
      <div class="card-body text-dark">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
                <a href="{% url 'service:equipment_wizard_create' service.first.pk %}" class="btn ins-ic p-1 btn-secondary" title="Adicione um novo equipamento!" data-toggle="tooltip" data-placement="right">
                    <div class="col">
                         <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
                         Equipamento
                    </div>
                </a>
          <div class="row mr-1 justify-content-end">
            <button type="submit" class="btn btn-dark">Salvar</button>
          </div>
        </form>
      </div>
      </div>
    </div>
</div>
<br>
{% endblock %}