{% extends "base.html" %}
{% load static %}
 {% block head %}
    {% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block head_title %}Lista de Pacotes{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="col-12">
           <div class="row bg-dark justify-content-center">
               <div class="col-11 align-self-center">
                    <h5 class="p-2 mt-1 text-white">Lista de Pacotes</h5>
               </div>
               <div class="col-1 align-self-center">
                   <a href="{% url 'main:dashboard'  %}" class="btn-sm text-white btn-secondary" style="background-color: #111111;">
                       <i class="fa fa-undo" aria-hidden="true"></i>
                   </a>
               </div>
           </div>
       </div>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pacote</th>
      <th scope="col">Ativo</th>
      <th scope="col">Validade</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for combo in combo_list %}
        <td><li>
            <a href="{% url 'combo:combo_detail' combo.pk  %}" class="text-dark">
            {{ combo.combo_tittle }}
            </a>
        </li></td>
        <td><li>{% if combo.combo_visible is False %}<small class="text-danger"><i class="fa fa-times" aria-hidden="true"></i></small>{% else %}<small class="text-success"><i class="fa fa-check" aria-hidden="true"></i></small>{% endif%}</li></td>
        <td><li>{% if combo.combo_expiration_date is None %}sem validade{% else %}{{ combo.combo_expiration_date }}{% endif %}</li></td>

      <td class="text-right">
          <a href="{% url 'combo:combo_update' combo.pk  %}" class="btn-sm pr-1 text-white btn-secondary" style="background-color: #111111;">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>

          <a href="{% url 'combo:combo_delete' combo.pk  %}" class="btn-sm ml-1 text-white btn-secondary" style="background-color: #111111;">
              <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
      </td>
    </tr>
    <ul>
    {% empty %}
        <li><h6>Sem pacotes, cadastre um <a class="btn bg-white text-dark" href="{% url 'combo:combo_wizard_create' %}"><strong> novo pacote.</strong></a></h6></li>
    </ul>
  {% endfor %}
  </tbody>
    </table>




</div>

{% endblock content %}

{% block javascript %}

{% endblock %}