{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Sobre cookies</h3>
          <h4 class="card-title">O que são cookies?</h4>
          <p style="text-align: justify;">Cookies são pequenos arquivos de texto contendo uma cadeia de caracteres que podem ser armazenados em
            seu computador ou dispositivo móvel e identificam seu navegador ou dispositivo de modo exclusivo.
            Podemos usar tecnologias como cookies, pixels e armazenamento local para transmitir, proteger e entender
            produtos, serviços e anúncios. </p>
          <h4 class="card-title">Qual é a função dos cookies?</h4>
          <p style="text-align: justify;">Os cookies e outras tecnologias permitem que um site ou serviços saibam se seu computador ou dispositivo
            os visitou antes. Dessa forma, essas tecnologias podem ser usadas para veicular produtos, serviços e
            anúncios, ajudar a entender como o site ou serviço está sendo usado, auxiliar a navegar pelas páginas
            com eficiência e a lembrar suas preferências, além de melhorar sua experiência de uso de nossos serviços
            de forma geral. Os cookies também podem ajudar a garantir que a publicidade vista online é mais relevante
            para você e seus interesses. </p>

        </div>
      </div>
    </div>
  </div>
{% endblock %}