{% extends 'base.html' %}

{% block head_title %}Junte-se a Familia Kumm{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Termos de Uso</h3>
          <h4 class="card-title">Bem-vindo ao KummTrippers!</h4>
          <p style="text-align: justify;">Estes Termos de Uso regem seu uso do KummTrippers e fornecem informações sobre o Serviço KummTrippers,
            descritas abaixo. Quando você cria uma conta do ou usa o KummTrippers, concorda com estes termos.
            Estes Termos de Uso, por conseguinte, constituem um acordo entre você e o KummTrippers. </p>
          <h4 class="card-title">O Serviço KummTrippers!</h4>
          <p style="text-align: justify;">Concordamos em fornecer a você o Serviço do KummTrippers. O Serviço inclui todos os produtos, recursos,
            aplicativos, serviços, tecnologias e software do KummTrippers que fornecemos para promover a missão
            do KummTrippers: criar um espaço para você relatar suas aventuras por meio de historias e fotos com
            o objetivo de propagar experiências vivenciadas e assim ajudar novos aventureiros.
            O Serviço é composto pelos seguintes aspectos (o Serviço): </p>
          <p style="text-align: justify;"><strong>Oferecer oportunidades personalizadas de criar, conectar, comunicar, descobrir e
            compartilhar.</strong>
            Queremos fortalecer seus relacionamentos por meio de experiências compartilhadas  Não possuimos um processo
            seletivo das informações sendo elas divulgadas por ordem de postagem que podem ser filtradas de acordo
            com a sua necessidade você no comando de suas experiencias e aventuras</p>
          <p style="text-align: justify;"><strong>Promover um ambiente seguro, inclusivo e positivo.</strong> Desenvolvemos e usamos ferramentas
            e oferecemos para os membros de nossa comunidade recursos que contribuem para tornar as experiências deles positivas
            e inclusivas, inclusive quando achamos que eles podem precisar de ajuda. Nossos sistemas  trabalham para
            combater abusos e violações de nossos Termos e políticas. Usamos todas as informações que temos,
            você escolhe o que divulgar no seu perfil. E também pode nos ajudar a combater postagens indevidas,
            para tentar manter nossa plataforma segura. Também podemos compartilhar informações sobre uso inadequado
            ou conteúdo prejudicial com KummTrippers ou autoridades responsáveis pela aplicação da lei.</p>
          <p style="text-align: justify;"><strong>Conectar você com marcas, produtos e serviços de maneiras importantes para você.</strong>
            Usamos dados do KummTrippers, bem como de parceiros, para exibir a você anúncios, ofertas e outros conteúdos patrocinados
            que acreditamos ser significativos para você.</p>
          <p style="text-align: justify;"><strong>Pesquisa e inovação.</strong> Usamos as informações que temos para estudar nosso Serviço e colaborar com
            terceiros em pesquisas para tornar nosso Serviço melhor e contribuir para o bem-estar de
            nossa comunidade.</p>
          <h4 class="card-title">A Política de Dados</h4>
          <p style="text-align: justify;">Fornecer nosso Serviço exige a coleta e o uso de suas informações. Os tipos de informações que
              coletamos dependem de como você usa nossos Produtos. Coletamos o conteúdo, comunicações e outras
              informações que você fornece quando usa nossos Produtos, inclusive quando você se cadastra para
              criar uma conta, cria ou compartilha conteúdo, envia alfinetadas ou se comunica com outras pessoas.
              Isso pode incluir informações presentes ou sobre o conteúdo que você fornece (como metadados),
            como a localização de uma foto ou a data em que um arquivo foi criado.</p>
          <p style="text-align: justify;">Coletamos informações sobre como você usa nossos Produtos, como o tipo de conteúdo que você visualiza ou com o qual se envolve;
              os recursos que você usa; as ações que você realiza; as pessoas ou contas com que você interage;
              e o tempo, frequência e duração das suas atividades. Por exemplo, registramos quando você está usando
              e a última vez que usou nossos Produtos, quais publicações e outro conteúdo você visualizou nos
              nossos Produtos. Usamos as informações que temos (em consonância com as escolhas feitas por você)
              para fornecer e viabilizar a operação dos Produtos do KummTrippers e ajudar a proteger
            nossa comunidade.</p>
          <p style="text-align: justify;">Usamos as informações que temos para verificar contas e atividades, combater condutas
              danosas, detectar e prevenir spam e outras experiências negativas, manter a integridade de nossos
              Produtos e promover a segurança dentro e fora dos Produtos do KummTrippers. </p>
          <h4 class="card-title">Seus Compromissos</h4>
          <p style="text-align: justify;">Em troca de nosso compromisso em fornecer o Serviço, exigimos que você se comprometa com o
            exposto a seguir.</p>
          <p style="text-align: justify;">Quem Pode Usar o KummTrippers. Queremos que nosso Serviço seja o mais aberto e inclusivo possível,
            mas também desejamos que ele seja seguro e esteja em conformidade com a lei. Por isso, precisamos
            que você se comprometa em relação a algumas restrições para fazer parte da comunidade do KummTrippers. </p>
          <p style="text-align: justify;">Você deve ter pelo menos <strong>13 anos ou a idade mínima legal</strong> em seu país para usar o KummTrippers. </p>
          <p style="text-align: justify;">Sua conta não pode ter sido desativada por nós por violação da lei ou de qualquer uma de nossas
            políticas.</p>
          <p style="text-align: justify;">Você não pode ter sido condenado por crime sexual.</p>
          <p style="text-align: justify;">Você não pode se passar por outras pessoas ou fornecer informações imprecisas. Você não precisa revelar
            sua identidade no Instagram, mas deve nos fornecer informações atualizadas e precisas
            (inclusive informações de registro). Além disso, você não deve se passar por alguém que não seja você
            e não pode criar uma conta para outra pessoa, a menos que tenha a permissão expressa dela.</p>
          <p style="text-align: justify;">Você não pode fazer algo ilícito, enganoso, fraudulento ou com finalidade ilegal ou não autorizada.</p>
          <p style="text-align: justify;">Você não pode fazer algo que interfira ou afete a operação pretendida do Serviço.</p>
          <p style="text-align: justify;">Você não pode tentar criar contas, acessar ou coletar informações valendo-se de formas não autorizadas.
            Isso inclui criar contas ou coletar informações de modo automatizado sem nossa permissão expressa.</p>
          <p style="text-align: justify;">Você não pode tentar comprar, vender ou transferir qualquer elemento de sua conta (inclusive seu
            nome de usuário) ou solicitar, coletar ou usar credenciais de login ou selos de autenticidade
            de outros usuários.</p>
          <p style="text-align: justify;">Você não pode publicar informações particulares ou confidenciais nem fazer algo que viole os direitos
            de terceiros, inclusive direitos de propriedade intelectual.</p>
          <p style="text-align: justify;">Você não pode usar um nome de domínio ou URL em seu nome de usuário sem nosso consentimento
            prévio por escrito. Permissões que você nos concede. Como parte de nosso acordo, você também nos concede
            permissões necessárias para fornecermos o Serviço. </p>
          <p style="text-align: justify;">Não reivindicamos a propriedade de seu conteúdo, mas você nos concede uma licença para usá-lo. Nada muda
            com relação aos seus direitos sobre seu conteúdo. Não reivindicamos a propriedade do conteúdo que você
            publica no Serviço ou por meio dele. Em vez disso, quando compartilha, publica ou carrega conteúdo
            protegido por direitos de propriedade intelectual (como fotos ou vídeos) em nosso Serviço ou em conexão
            com ele, você nos concede uma licença não exclusiva, gratuita, transferível, sublicenciável e válida
            mundialmente para hospedar, usar, distribuir, modificar, veicular, copiar, exibir ou executar
            publicamente, traduzir e criar trabalhos derivados de seu conteúdo (de modo consistente com suas
            configurações de privacidade e do aplicativo). Você pode encerrar essa licença a qualquer momento
            excluindo seu conteúdo ou conta.</p>
          <h4 class="card-title">Direitos adicionais que nós mantemos</h4>
          <p style="text-align: justify;">Se você selecionar um nome de usuário ou identificador semelhante para sua conta, nós podemos alterá-lo
            se acreditarmos ser adequado ou necessário (por exemplo, se ele violar a propriedade intelectual de outra
            pessoa ou se passar por outro usuário). </p>
          <p style="text-align: justify;">Se você usar conteúdo protegido por direitos de propriedade intelectual que detemos e disponibilizamos
            em nosso Serviço (por exemplo, imagens, desenhos, vídeos ou sons que nós fornecemos e você adiciona ao
            conteúdo que cria ou compartilha), nós manteremos todos os direitos sobre nosso conteúdo
            (mas não sobre o seu). Você só pode usar nossa propriedade intelectual, nossas marcas ou marcas semelhantes conforme
          expressamente autorizado por nossas Diretrizes de Marca ou com nossa permissão prévia por escrito.</p>
          <p style="text-align: justify;">Você deve obter nossa permissão escrita ou sob uma licença de código-fonte aberto para modificar, criar
          trabalhos derivados, descompilar ou de outra forma tentar extrair o código-fonte de nós.</p>
          <h4 class="card-title">Remoção de conteúdo e desativação ou encerramento de sua conta</h4>
          <p style="text-align: justify;">Podemos remover qualquer conteúdo ou informação compartilhada por você no Serviço se acreditarmos que tal
          conteúdo viola estes Termos de Uso, nossas políticas ou quando estivermos autorizados ou obrigados por lei
          a assim proceder. Podemos nos recusar a fornecer ou deixar de fornecer todo ou parte do Serviço para você
          (inclusive encerrando ou desativando sua conta) imediatamente, para proteger nossos serviços ou nossa
          comunidade, ou se você criar risco ou exposição legal para nós, violar estes Termos de Uso ou nossas
          políticas, violar repetidamente os direitos de propriedade intelectual de outras pessoas ou quando estivermos
          autorizados ou obrigados por lei a assim proceder.</p>
          <h4 class="card-title">Quem é responsável se algo ocorrer.</h4>
          <p style="text-align: justify;">Nosso Serviço é fornecido “no estado em que se encontra”, e não podemos garantir que ele será seguro e
          funcionará perfeitamente o tempo todo. NO LIMITE PERMITIDO POR LEI, TAMBÉM NOS EXIMIMOS DE TODAS AS GARANTIAS,
          EXPLÍCITAS OU IMPLÍCITAS, INCLUSIVE AS GARANTIAS DE COMERCIABILIDADE, ADEQUAÇÃO A UMA DETERMINADA FINALIDADE,
          TÍTULO E NÃO VIOLAÇÃO.</p>
          <p style="text-align: justify;">Também não controlamos o que as pessoas ou terceiros fazem ou mencionam e não somos responsáveis pelas
          respectivas (inclusive as suas) condutas ou ações, online ou offline, nem pelo conteúdo (inclusive conteúdo
          censurável ou ilícito). Também não somos responsáveis pelos serviços e recursos oferecidos por outras pessoas
          ou empresas, mesmo que você os acesse por meio de nosso Serviço.</p>
          <p style="text-align: justify;">Nossa responsabilidade por qualquer ocorrência no Serviço será limitada tanto quanto permitido por lei.
          Se houver um problema com nosso Serviço, não temos como prever todos os impactos que poderão ocorrer. Você
          concorda que nós não seremos responsáveis por qualquer perda de lucro, receitas, informação ou dados, ou,
          ainda, por danos eventuais, especiais, indiretos, exemplares, punitivos ou acidentais decorrentes de ou
          relativos a estes Termos, ainda que saibamos que eles são possíveis. Isso se aplica inclusive se nós
          excluirmos seu conteúdo, informações ou conta.</p>
          <h4 class="card-title">Atualização destes Termos</h4>
          <p style="text-align: justify;">Podemos alterar nosso Serviço e nossas políticas, e podemos precisar alterar estes Termos para que eles
          reflitam precisamente nosso Serviço e nossas políticas. Salvo quando a lei estabelecer o contrário, você será
          notificado (por exemplo, por meio de nosso Serviço) antes de alterarmos estes Termos e terá a oportunidade de
          analisá-los antes que entrem em vigor. Por isso, se você continuar usando o Serviço, estará vinculado aos
          Termos atualizados. Se você não quiser concordar com estes ou com quaisquer outros Termos atualizados,
          poderá excluir sua conta.</p>
          <p>Revisado em: 13 de setembro de 2019</p>

        </div>
      </div>
    </div>
  </div>
{% endblock %}