{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
{% endblock %}
{% block stylesheet %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block head_title %}
  {% for testimony in testimony_service_list %}
        {% if forloop.counter == 1 %}
        {% for service in testimony.testimony_services.all %}
        {% if forloop.counter == 1 %}
            Depoimentos de {{ service.service_tittle }}
   {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
{% endblock %}

{% block content %}
<br>
<div class="row mt-sm-4 mt-md-4 justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
        {% for testimony in testimony_service_list %}
        {% if forloop.counter == 1 %}
        {% for service in testimony.testimony_services.all %}
        {% if forloop.counter == 1 %}
         <h4>{{ service.service_tittle }}</h4>
        <div class="btn-sm m-2 justify-content-end ml-auto">
             <a href="{% url 'service:service_detail' service.pk  %}" class="btn-sm text-white btn-secondary" style="background-color: #111111;">
                  <i class="fa fa-undo" aria-hidden="true"></i>
              </a>
            <a href="{% url 'testimony:testimony_service_wizard_create' service.pk  %}" class="btn-sm text-white btn-secondary" style="background-color: #111111;">
                  <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
          </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}


              {% for testimony_service in testimony_service_list %}
          <div class="card">
                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-6 text-left">
                    <p class="card-text text-warning">
                            {% if testimony_service.testimony_rating == '1' %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if testimony.testimony_rating == '2' %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if testimony_service.testimony_rating == '3' %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if testimony_service.testimony_rating == '4' %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if testimony_service.testimony_rating == '5' %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endif %}
                        </p>
                        </div>
                        <div class="col-6 text-right">
                         <small class="text-muted">
                             {{ testimony_service.testimony_published|naturaltime }}
                         </small>
                        </div>
                    </div>
                    <div class="col-8 align-self-start">
                        <small class="muted">by,</small>

                                      <a class="btn text-dark border-0" href="{% url 'profile' testimony_service.testimony_user.username %}">
                                          <div class="row justify-content-center">
                                              {% if testimony_service.testimony_user.picture %}
                                                <img class="img rounded-circle" style="width: 2rem; height: 2rem" src="{{MEDIA_URL}}{{ testimony_service.testimony_user.picture }}" alt="{{ testimony_service.testimony_user.picture }}">
                                              {% else %}
                                                {% if testimony_service.testimony_user.socialaccount_set.all.0.get_avatar_url %}
                                                    <img class="img rounded-circle" style="width: 2rem; height: 2rem" src="{{ testimony_service.testimony_user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ testimony_service.testimony_user.get_full_name }}" width="100" height="100"/>
                                                {% else %}
                                                    <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
                                                {% endif %}
                                              {% endif %}
                                          </div>
                                          </a>

                                           <a class="btn btn-sm text-dark border-0" href="{% url 'profile' testimony_service.testimony_user.username %}">
                                            {% if testimony_service.testimony_user.first_name %} {{ testimony_service.testimony_user.first_name }} {{ testimony_service.testimony_user.last_name }}{% else %}{{ testimony_service.testimony_user.username }}{% endif %}
                                           </a>
                    </div>

              </div>
              <div class="card-body">



                <h5><i class="fa fa-quote-left" aria-hidden="true"></i> {{ testimony_service.testimony_title }}</h5>
                <p>{{ testimony_service.testimony_description }} <i class="fa fa-quote-right" aria-hidden="true"></i></p>


          {% if testimony_service.testimony_professional.all %}
              <h5>Profissionais que realizam o serviço:</h5>
              {{ testimony_service.testimony_professional }}
            {% endif %}

          {% if testimony_service.testimony_bride %}
              {{ testimony_service.testimony_bride }}
          {% endif %}


                <div class="btn-sm m-2 justify-content-end ml-auto">
             <a href="{% url 'testimony:testimony_detail' testimony_service.pk  %}" class="btn-sm text-white btn-secondary" style="background-color: #111111;">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>

                     <a href="{% url 'testimony:testimony_update' testimony_service.pk  %}" class="btn-sm text-white btn-secondary" style="background-color: #111111;">
                  <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
          </div>
          </div>
          </div>
          {% endfor %}


        </div>
  </div>
</div>






{% endblock %}
{% block javascript %}

{% endblock %}
